.container{
  font-family: 'Goudy Bookletter 1911', serif;
  text-align: center;
  font-size: 120%;
  padding: 3%;
}

.category{
  padding: 15px 25px 15px 25px;
  background: rgb(3, 83, 43);
  color: white;
  border: 1px solid rgb(3, 83, 43);
margin: 20px;
border-radius: 5px;
font-size: 100%;
cursor: pointer;
display: inline;
}
.category:hover{
  box-shadow: 1px 1px 5px 3px green;
  transition-duration: 0.5s;
}
.bookimg{
  width: 200px;
  margin: 10px;
  height: 300px;
  justify-content: center;
}
.flex{
  display: flex;
  justify-content: center;
}
.card-container{
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
}
.card{
  box-shadow: 1px 1px 3px 1px lightgrey;
  padding: 20px 25px 20px 25px;
  width: 300px;
  line-height: 25px;
  text-align: left;
margin: 20px;
}